<%= form_with(model: varient) do |form| %>
  <% if varient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(varient.errors.count, "error") %> prohibited this varient from being saved:</h2>

      <ul>
        <% varient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
